<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Servlet-uploadFile</display-name>
  <welcome-file-list>
    <welcome-file>uploadhtml.html</welcome-file>
  
 
  
  </welcome-file-list>
 <servlet>
  	<servlet-name>uploadFile</servlet-name>
  	<servlet-class>com.joc.nik.uploadfile.UploadFile</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name> uploadFile</servlet-name>
  	<url-pattern>/go</url-pattern>
  </servlet-mapping>
</web-app>